@import "./base.css";

#app {
  font-family: Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  background: var(--main-background);
  min-height: 100vh;
}

@font-face{
  font-family: "Atop4Logo";
  src: url("./assets/fonts/Atop-R9903ttf") format("trueType");
  font-display: swap;
}
